*{
    text-decoration: none;
}
.card:hover {
    box-shadow: 0 0 12px rgba(33,33,33,.3);
}
/* .custom-img {
    width:500;
 height:600;
} */
.card-body.custom-slide{
    padding: unset;
}

table tr td {
    padding: 16px;
    text-align: center;
    font-size: 18px;
    border: 1px solid rgba(148, 148, 148, 0.692);
}